@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Rubik";
        font-weight: 1 1000;
        src: url("/fonts/Rubik.ttf")format('truetype');
      }
    
      @font-face {
        font-family: "RubikItalic";
        font-weight: 1 1000;
        font-style: italic;
        src: url("/fonts/RubikItalic.ttf")format('truetype');
      }
    
}